{% extends 'vote/base.html' %}
{% load static %}
<!DOCTYPE html>


{% block headline %}
	{% if error %}
		<div class="alert alert-danger mx-3 mt-2" style="background:rgba(255,0,0,0.5);border:1px solid #000000;color:white">
			Log In Failed. Please Recheck Your ID Number or Password
		</div>
	{% else %}
		{% if request.GET.next %}
			<div class="alert alert-danger mx-3 mt-2" style="background:rgba(255,0,0,0.5);border:1px solid #000000;color:white">
				Please Log In First To Access The Requested Page
			</div>
		{% endif %}
	{% endif %}
{% endblock %}


{% block content %}

		<div class="container">
			<div class="row">
			    <div class="col-md-4 col-md-offset-4">
			    </div>
			    <div class="col-md-4 col-md-offset-4">
				<div class="card card-primary" style="margin-top:15%">
					<div class="card-header">
						SIGN IN
					</div>
				    <div class="card-body">
					<form role="form" action="" method="POST">
						{% csrf_token %}
					    <fieldset>
						<div class="form-group">
						    <input class="form-control" placeholder="ID Number" name="username" type="number" autofocus>
						</div>
						<div class="form-group">
						    <input class="form-control" placeholder="Passkey" name="password" type="password" value="">
						</div>
						<!-- Change this to a button or input when using this as a form -->
						<input type='submit' class="btn btn-lg btn-success btn-block" value="Log In">
					    </fieldset>
					</form>
				    </div>
				</div>
			    </div>
			</div>
		</div>
		{% endblock %}
