{% extends 'administration/base.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
		<div class="card card-statistics">
			<div class="card-body">
			  <div class="clearfix">
			    <div class="float-left">
			      <i class="mdi mdi-poll-box text-success icon-lg"></i>
			    </div>
			    <div class="float-right">
			      <p class="mb-0 text-right">Time</p>
			      <div class="fluid-container">
				      <h3 class="font-weight-medium text-right mb-0">{{time_now}}</h3>
			      </div>
			    </div>
			  </div>
			  <p class="text-muted mt-3 mb-0">
			  <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i>Date:</p>
			  <p class="text-muted mt-3 mb-0">
			   {{date_now}}
			  </p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
		<div class="card card-statistics">
			<div class="card-body">
			  <div class="clearfix">
			    <div class="float-left">
			      <i class="mdi mdi-account-location text-info icon-lg"></i>
			    </div>
			    <div class="float-right">
			      <p class="mb-0 text-right">Students</p>
			      <div class="fluid-container">
				      <h3 class="font-weight-medium text-right mb-0">{{no_of_students}}</h3>
			      </div>
			    </div>
			  </div>
			  <p class="text-muted mt-3 mb-0">
			  <i class="mdi mdi-reload mr-1" aria-hidden="true"></i>{{no_of_candidates}} contesting for current Polls
			  </p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
		<div class="card card-statistics">
			<div class="card-body">
			  <div class="clearfix">
			    <div class="float-left">
			      <i class="mdi mdi-cube text-danger icon-lg"></i>
			    </div>
			    <div class="float-right">
			      <p class="mb-0 text-right">Ongoing Polls</p>
			      <div class="fluid-container">
				      <h3 class="font-weight-medium text-right mb-0">{{active_polls.count}}</h3>
			      </div>
			    </div>
			  </div>
			  <p class="text-muted mt-3 mb-0">
			  <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>{{inactive_polls.count}} are inactive
			  </p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
		<div class="card card-statistics">
			<div class="card-body">
			  <div class="clearfix">
			    <div class="float-left">
			      <i class="mdi mdi-receipt text-warning icon-lg"></i>
			    </div>
			    <div class="float-right">
			      <p class="mb-0 text-right">Votes Casted</p>
			      <div class="fluid-container">
				      <h3 class="font-weight-medium text-right mb-0">{{votes_casted}}</h3>
			      </div>
			    </div>
			  </div>
			  <p class="text-muted mt-3 mb-0">
			    <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i>Last Vote: 
			  </p>
			  <p class="text-muted mt-3 mb-0">{{last_vote_date|date}}, {{last_vote_time|time}}
			  </p>
			</div>
			</div>
		</div>
	</div>
<div class="row">
	{% for result in results %}
	<div class="col-lg-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">{{result.0.grade.name}} - {{result.0.house.name}} {{result.0.category}}</h4>
				<canvas id="barChart{{result.0.id}}" style="height:230px"></canvas>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}


{% block addscript %}
<script>
	$("#dashboardlink").attr("class","nav-item active");
</script>

{% include 'administration/chart.html' %}

{% endblock %}
